In [94]:
import pandas as pd

In [95]:
df=pd.read_excel('inp.xlsx',header=None)
df

                                                    0
0   user1|60.0|2020-01-06 18:30:00|2020-01-06 19:3...
1   user1|45.0|2020-01-06 10:15:00|2020-01-06 11:0...
2   user1|30.0|2020-01-06 17:30:00|2020-01-06 18:0...
3   user1|60.0|2020-01-06 16:00:00|2020-01-06 17:0...
4   user1|30.0|2020-01-06 19:00:00|2020-01-06 19:3...
5   user1|15.0|2020-01-06 18:15:00|2020-01-06 18:3...
6   user1|180.0|2020-01-06 21:00:00|2020-01-07 00:...
7   user2|45.0|2020-04-07 16:00:00|2020-04-07 16:4...
8   user2|320.0|2020-04-07 14:00:00|2020-04-07 19:...
9   user2|20.0|2020-04-07 12:00:00|2020-04-07 12:2...
10  user2|60.0|2020-04-07 09:00:00|2020-04-07 10:0...
11  user2|30.0|2020-04-07 18:30:00|2020-04-07 19:0...
12  user2|30.0|2020-04-07 12:30:00|2020-04-07 13:0...
13  user2|30.0|2020-04-07 11:00:00|2020-04-07 11:3...
14  user2|15.0|2020-04-07 18:45:00|2020-04-07 19:0...
15  user2|30.0|2020-04-07 12:00:00|2020-04-07 12:3...
16  user2|50.0|2020-04-07 18:00:00|2020-04-07 18:5...
17  user2|30.0|2020-04-07 11:00:00|2020-04-07 11:3...

In [96]:
df[['user','duration','start','end','unknown']]=df[0].str.split('|').to_list()
df.drop(labels=[0],axis=1,inplace=True)
df

     user duration                start                  end         unknown
0   user1     60.0  2020-01-06 18:30:00  2020-01-06 19:30:00  20200105000000
1   user1     45.0  2020-01-06 10:15:00  2020-01-06 11:00:00  20200106000000
2   user1     30.0  2020-01-06 17:30:00  2020-01-06 18:00:00  20200107000000
3   user1     60.0  2020-01-06 16:00:00  2020-01-06 17:00:00  20200106000000
4   user1     30.0  2020-01-06 19:00:00  2020-01-06 19:30:00  20200102000000
5   user1     15.0  2020-01-06 18:15:00  2020-01-06 18:30:00  20200105000000
6   user1    180.0  2020-01-06 21:00:00  2020-01-07 00:00:00  20200106000000
7   user2     45.0  2020-04-07 16:00:00  2020-04-07 16:45:00  20200401000000
8   user2    320.0  2020-04-07 14:00:00  2020-04-07 19:20:00  20200330000000
9   user2     20.0  2020-04-07 12:00:00  2020-04-07 12:20:00  20200408000000
10  user2     60.0  2020-04-07 09:00:00  2020-04-07 10:00:00  20200403000000
11  user2     30.0  2020-04-07 18:30:00  2020-04-07 19:00:00  20200407000000
12  user2     30.0  2020-04-07 12:30:00  2020-04-07 13:00:00  20200407000000
13  user2     30.0  2020-04-07 11:00:00  2020-04-07 11:30:00  20200408000000
14  user2     15.0  2020-04-07 18:45:00  2020-04-07 19:00:00  20200408000000
15  user2     30.0  2020-04-07 12:00:00  2020-04-07 12:30:00  20200403000000
16  user2     50.0  2020-04-07 18:00:00  2020-04-07 18:50:00  20200403000000
17  user2     30.0  2020-04-07 11:00:00  2020-04-07 11:30:00  20200407000000

In [97]:
df1=df.copy()
df1=df1.sort_values(by='start').reset_index(drop=True)
df1

     user duration                start                  end         unknown
0   user1     45.0  2020-01-06 10:15:00  2020-01-06 11:00:00  20200106000000
1   user1     60.0  2020-01-06 16:00:00  2020-01-06 17:00:00  20200106000000
2   user1     30.0  2020-01-06 17:30:00  2020-01-06 18:00:00  20200107000000
3   user1     15.0  2020-01-06 18:15:00  2020-01-06 18:30:00  20200105000000
4   user1     60.0  2020-01-06 18:30:00  2020-01-06 19:30:00  20200105000000
5   user1     30.0  2020-01-06 19:00:00  2020-01-06 19:30:00  20200102000000
6   user1    180.0  2020-01-06 21:00:00  2020-01-07 00:00:00  20200106000000
7   user2     60.0  2020-04-07 09:00:00  2020-04-07 10:00:00  20200403000000
8   user2     30.0  2020-04-07 11:00:00  2020-04-07 11:30:00  20200408000000
9   user2     30.0  2020-04-07 11:00:00  2020-04-07 11:30:00  20200407000000
10  user2     30.0  2020-04-07 12:00:00  2020-04-07 12:30:00  20200403000000
11  user2     20.0  2020-04-07 12:00:00  2020-04-07 12:20:00  20200408000000
12  user2     30.0  2020-04-07 12:30:00  2020-04-07 13:00:00  20200407000000
13  user2    320.0  2020-04-07 14:00:00  2020-04-07 19:20:00  20200330000000
14  user2     45.0  2020-04-07 16:00:00  2020-04-07 16:45:00  20200401000000
15  user2     50.0  2020-04-07 18:00:00  2020-04-07 18:50:00  20200403000000
16  user2     30.0  2020-04-07 18:30:00  2020-04-07 19:00:00  20200407000000
17  user2     15.0  2020-04-07 18:45:00  2020-04-07 19:00:00  20200408000000

In [98]:
# startnum and endnum columns are used to find the overlap of time
df1['startnum']=df1.start.str.replace(':','')
df1['startnum']=df1.startnum.str.replace('-','')
df1['startnum']=df1.startnum.str.replace(' ','')
df1['endnum']=df1.end.str.replace(':','')
df1['endnum']=df1.endnum.str.replace('-','')
df1['endnum']=df1.endnum.str.replace(' ','')
df1['startnum']=pd.to_numeric(df1.startnum)
df1['endnum']=pd.to_numeric(df1.endnum)
# df1['start']=pd.to_datetime(df1['start'])
# df1['end']=pd.to_datetime(df1['end'])
df1

,user,duration,start,end,unknown,startnum,endnum
0,user1,45.0,2020-01-06 10:15:00,2020-01-06 11:00:00,20200106000000,20200106101500,20200106110000
1,user1,60.0,2020-01-06 16:00:00,2020-01-06 17:00:00,20200106000000,20200106160000,20200106170000
2,user1,30.0,2020-01-06 17:30:00,2020-01-06 18:00:00,20200107000000,20200106173000,20200106180000
3,user1,15.0,2020-01-06 18:15:00,2020-01-06 18:30:00,20200105000000,20200106181500,20200106183000
4,user1,60.0,2020-01-06 18:30:00,2020-01-06 19:30:00,20200105000000,20200106183000,20200106193000
5,user1,30.0,2020-01-06 19:00:00,2020-01-06 19:30:00,20200102000000,20200106190000,20200106193000
6,user1,180.0,2020-01-06 21:00:00,2020-01-07 00:00:00,20200106000000,20200106210000,20200107000000
7,user2,60.0,2020-04-07 09:00:00,2020-04-07 10:00:00,20200403000000,20200407090000,20200407100000
8,user2,30.0,2020-04-07 11:00:00,2020-04-07 11:30:00,20200408000000,20200407110000,20200407113000
9,user2,30.0,2020-04-07 11:00:00,2020-04-07 11:30:00,20200407000000,20200407110000,20200407113000
10,user2,30.0,2020-04-07 12:00:00,2020-04-07 12:30:00,20200403000000,20200407120000,20200407123000
11,user2,20.0,2020-04-07 12:00:00,2020-04-07 12:20:00,20200408000000,20200407120000,20200407122000
12,user2,30.0,2020-04-07 12:30:00,2020-04-07 13:00:00,20200407000000,20200407123000,20200407130000
13,user2,320.0,2020-04-07 14:00:00,2020-04-07 19:20:00,20200330000000,20200407140000,20200407192000
14,user2,45.0,2020-04-07 16:00:00,2020-04-07 16:45:00,20200401000000,20200407160000,20200407164500
15,user2,50.0,2020-04-07 18:00:00,2020-04-07 18:50:00,20200403000000,20200407180000,20200407185000
16,user2,30.0,2020-04-07 18:30:00,2020-04-07 19:00:00,20200407000000,20200407183000,20200407190000
17,user2,15.0,2020-04-07 18:45:00,2020-04-07 19:00:00,20200408000000,20200407184500,20200407190000

In [99]:
users=df1.user.unique()
#ud dictionary will have 4 lists of all start time, endtime, startnum, endnum for each user
ud={}
for i in users:
    
    ud[i]=[]
    ud[i].append(list(df1[df.user==i].start))
    ud[i].append(list(df1[df.user==i].end))
    ud[i].append(list(df1[df.user==i].startnum))
    ud[i].append(list(df1[df.user==i].endnum))    
    
ud

{'user1': [['2020-01-06 10:15:00',
   '2020-01-06 16:00:00',
   '2020-01-06 17:30:00',
   '2020-01-06 18:15:00',
   '2020-01-06 18:30:00',
   '2020-01-06 19:00:00',
   '2020-01-06 21:00:00'],
  ['2020-01-06 11:00:00',
   '2020-01-06 17:00:00',
   '2020-01-06 18:00:00',
   '2020-01-06 18:30:00',
   '2020-01-06 19:30:00',
   '2020-01-06 19:30:00',
   '2020-01-07 00:00:00'],
  [20200106101500,
   20200106160000,
   20200106173000,
   20200106181500,
   20200106183000,
   20200106190000,
   20200106210000],
  [20200106110000,
   20200106170000,
   20200106180000,
   20200106183000,
   20200106193000,
   20200106193000,
   20200107000000]],
 'user2': [['2020-04-07 09:00:00',
   '2020-04-07 11:00:00',
   '2020-04-07 11:00:00',
   '2020-04-07 12:00:00',
   '2020-04-07 12:00:00',
   '2020-04-07 12:30:00',
   '2020-04-07 14:00:00',
   '2020-04-07 16:00:00',
   '2020-04-07 18:00:00',
   '2020-04-07 18:30:00',
   '2020-04-07 18:45:00'],
  ['2020-04-07 10:00:00',
   '2020-04-07 11:30:00',
   '2020-04-07 11:30:00',
   '2020-04-07 12:30:00',
   '2020-04-07 12:20:00',
   '2020-04-07 13:00:00',
   '2020-04-07 19:20:00',
   '2020-04-07 16:45:00',
   '2020-04-07 18:50:00',
   '2020-04-07 19:00:00',
   '2020-04-07 19:00:00'],
  [20200407090000,
   20200407110000,
   20200407110000,
   20200407120000,
   20200407120000,
   20200407123000,
   20200407140000,
   20200407160000,
   20200407180000,
   20200407183000,
   20200407184500],
  [20200407100000,
   20200407113000,
   20200407113000,
   20200407123000,
   20200407122000,
   20200407130000,
   20200407192000,
   20200407164500,
   20200407185000,
   20200407190000,
   20200407190000]]}

In [100]:
#ufin dictionary will have selected time intervals after eliminating the overlap time and subset time 
ufin={}
#below for will iterate through unique users
for i in users:
    ufin[i]=[]
    #below for will iterate through each user's records
    for j in range(len(ud[i][0])): 
        #first time interval of the user taken by using if,since the ufin dictionary is empty
        if len(ufin[i])==0:
            ufin[i].append([ud[i][0][j],ud[i][1][j],ud[i][2][j],ud[i][3][j]])
        #fi-flag for time interval which is a subset of already selected time interval of a user
        #fm-flag for time interval overlaping with already selected time interval of a user
        fi=0
        fm=0
        #below for will iterate through each user's selected time intervals
        for k in range(len(ufin[i])):    
            #if start and end of current time lies inside the already selected time interval, fi flag raised, the current time will be ignored
            if ud[i][2][j] in range(ufin[i][k][2],ufin[i][k][3]) and ud[i][3][j] in range(ufin[i][k][2],ufin[i][k][3]):   
                fi=1
            #if start of current time is inside the already selected time interval but end not inside, then change selected end = current end and fm flag raised
            #ex:if already selected 1 to 5, current 2 to 7 then selected will be updated as 1 to 7
            elif ud[i][2][j] in range(ufin[i][k][2],ufin[i][k][3]):
                ufin[i][k][1]=ud[i][1][j]
                fm=1
        #if the user's time interval neither fall inside nor overlap with already selected time interval then update the ufin with current time interval
        if fi==0 and fm==0:
            ufin[i].append([ud[i][0][j],ud[i][1][j],ud[i][2][j],ud[i][3][j]])        

#time intervals after eliminating subset time and overlap time     
ufin

{'user1': [['2020-01-06 10:15:00',
   '2020-01-06 11:00:00',
   20200106101500,
   20200106110000],
  ['2020-01-06 16:00:00',
   '2020-01-06 17:00:00',
   20200106160000,
   20200106170000],
  ['2020-01-06 17:30:00',
   '2020-01-06 18:00:00',
   20200106173000,
   20200106180000],
  ['2020-01-06 18:15:00',
   '2020-01-06 18:30:00',
   20200106181500,
   20200106183000],
  ['2020-01-06 18:30:00',
   '2020-01-06 19:30:00',
   20200106183000,
   20200106193000],
  ['2020-01-06 21:00:00',
   '2020-01-07 00:00:00',
   20200106210000,
   20200107000000]],
 'user2': [['2020-04-07 09:00:00',
   '2020-04-07 10:00:00',
   20200407090000,
   20200407100000],
  ['2020-04-07 11:00:00',
   '2020-04-07 11:30:00',
   20200407110000,
   20200407113000],
  ['2020-04-07 12:00:00',
   '2020-04-07 12:30:00',
   20200407120000,
   20200407123000],
  ['2020-04-07 12:30:00',
   '2020-04-07 13:00:00',
   20200407123000,
   20200407130000],
  ['2020-04-07 14:00:00',
   '2020-04-07 19:20:00',
   20200407140000,
   20200407192000]]}

In [101]:
#after getting the selected list, converting it to dataframe
from numpy import array
temp_list=[]
for i in users:
    for j in range(len(ufin[i])):
        temp_list.append([i]+ufin[i][j])
temp_arr=array(temp_list).T
temp_arr

array([['user1', 'user1', 'user1', 'user1', 'user1', 'user1', 'user2',
        'user2', 'user2', 'user2', 'user2'],
       ['2020-01-06 10:15:00', '2020-01-06 16:00:00',
        '2020-01-06 17:30:00', '2020-01-06 18:15:00',
        '2020-01-06 18:30:00', '2020-01-06 21:00:00',
        '2020-04-07 09:00:00', '2020-04-07 11:00:00',
        '2020-04-07 12:00:00', '2020-04-07 12:30:00',
        '2020-04-07 14:00:00'],
       ['2020-01-06 11:00:00', '2020-01-06 17:00:00',
        '2020-01-06 18:00:00', '2020-01-06 18:30:00',
        '2020-01-06 19:30:00', '2020-01-07 00:00:00',
        '2020-04-07 10:00:00', '2020-04-07 11:30:00',
        '2020-04-07 12:30:00', '2020-04-07 13:00:00',
        '2020-04-07 19:20:00'],
       ['20200106101500', '20200106160000', '20200106173000',
        '20200106181500', '20200106183000', '20200106210000',
        '20200407090000', '20200407110000', '20200407120000',
        '20200407123000', '20200407140000'],
       ['20200106110000', '20200106170000', '20200106180000',
        '20200106183000', '20200106193000', '20200107000000',
        '20200407100000', '20200407113000', '20200407123000',
        '20200407130000', '20200407192000']], dtype='<U19')

In [102]:
data = {'user':temp_arr[0],'start':temp_arr[1],'end':temp_arr[2]}
data

{'user': array(['user1', 'user1', 'user1', 'user1', 'user1', 'user1', 'user2',
        'user2', 'user2', 'user2', 'user2'], dtype='<U19'),
 'start': array(['2020-01-06 10:15:00', '2020-01-06 16:00:00',
        '2020-01-06 17:30:00', '2020-01-06 18:15:00',
        '2020-01-06 18:30:00', '2020-01-06 21:00:00',
        '2020-04-07 09:00:00', '2020-04-07 11:00:00',
        '2020-04-07 12:00:00', '2020-04-07 12:30:00',
        '2020-04-07 14:00:00'], dtype='<U19'),
 'end': array(['2020-01-06 11:00:00', '2020-01-06 17:00:00',
        '2020-01-06 18:00:00', '2020-01-06 18:30:00',
        '2020-01-06 19:30:00', '2020-01-07 00:00:00',
        '2020-04-07 10:00:00', '2020-04-07 11:30:00',
        '2020-04-07 12:30:00', '2020-04-07 13:00:00',
        '2020-04-07 19:20:00'], dtype='<U19')}

In [103]:
dffin=pd.DataFrame(data)
dffin['start']=pd.to_datetime(dffin['start'])
dffin['end']=pd.to_datetime(dffin['end'])
#finding the duration
dffin['total']=dffin['end']-dffin['start']
dffin

     user               start                 end           total
0   user1 2020-01-06 10:15:00 2020-01-06 11:00:00 0 days 00:45:00
1   user1 2020-01-06 16:00:00 2020-01-06 17:00:00 0 days 01:00:00
2   user1 2020-01-06 17:30:00 2020-01-06 18:00:00 0 days 00:30:00
3   user1 2020-01-06 18:15:00 2020-01-06 18:30:00 0 days 00:15:00
4   user1 2020-01-06 18:30:00 2020-01-06 19:30:00 0 days 01:00:00
5   user1 2020-01-06 21:00:00 2020-01-07 00:00:00 0 days 03:00:00
6   user2 2020-04-07 09:00:00 2020-04-07 10:00:00 0 days 01:00:00
7   user2 2020-04-07 11:00:00 2020-04-07 11:30:00 0 days 00:30:00
8   user2 2020-04-07 12:00:00 2020-04-07 12:30:00 0 days 00:30:00
9   user2 2020-04-07 12:30:00 2020-04-07 13:00:00 0 days 00:30:00
10  user2 2020-04-07 14:00:00 2020-04-07 19:20:00 0 days 05:20:00

In [104]:
#finding the total duration of each user
df_total=dffin.groupby('user')['total'].sum().copy()
for i in range(len(df_total)):
    print('user={} Total hours spend = {} hrs'.format(df_total.index[i],df_total[i]))

user=user1 Total hours spend = 0 days 06:30:00 hrs
user=user2 Total hours spend = 0 days 07:50:00 hrs